<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kaverit</title>
</head>
<body>
   <h1>Friends list</h1> 
   <p>Name</p>
   <div th:each="f : ${friends}">
    <span th:text="${f.firstName}">First</span>
     <span th:text="${f.lastName}">Last</span>
   </div>

   <h2>Add new friend to list</h2>

   <form th:action="@{/friends}" th:object="${friend}" method="post">
    <label>First name: </label>
    <input type="text" th:field="*{firstName}"/>
    <label>Last name: </label>
    <input type="text" th:field="*{lastName}"/>

    <button type="submit">Add friend</button>
   </form>
</body>
</html>